name: Alpine

on:
  push:
    # Publish `master` as Docker `latest` image.
    branches:
      - master
env:
  IMAGE_NAME: android-build
  BASE_IMAGE: alpine

jobs:
  push:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'

    steps:
      - uses: actions/checkout@v2

      - name: Build image
        run: docker build . --file Dockerfile-alpine --tag image

      - name: Log into Docker Hub
        run: echo "${{ secrets.DOCKER_HUB_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_HUB_USERNAME }} --password-stdin

      - name: Push image to Docker Hub
        run: |
          IMAGE_ID=${{ secrets.DOCKER_HUB_USERNAME }}/$IMAGE_NAME
          echo IMAGE_ID=$IMAGE_ID
          docker tag image $IMAGE_ID:$BASE_IMAGE
          docker push $IMAGE_ID:$BASE_IMAGE


      - name: Log into registry
        run: echo "${{ secrets.GH_TOKEN }}" | docker login docker.pkg.github.com -u ${{ github.actor }} --password-stdin

      - name: Push image to GitHub Packages
        run: |
          IMAGE_ID=docker.pkg.github.com/${{ github.repository }}/$IMAGE_NAME
          echo IMAGE_ID=$IMAGE_ID
          docker tag image $IMAGE_ID:$BASE_IMAGE
          docker push $IMAGE_ID:$BASE_IMAGE
