name: Tag Release

on:
  push:
    # Publish `master` as Docker `latest` image.
    branches:
      - master
env:
  RELEASE_ID: v1

jobs:
  push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Delete existing release
        run: |
          curl -H 'Authorization: token {{ secrets.GH_TOKEN }}' \
          -X DELETE \
          https://api.github.com//repos/$GITHUB_REPOSITORY/releases/$RELEASE_ID

