name: Tag Release

on:
  push:
    # Publish `master` as Docker `latest` image.
    branches:
      - master
env:
  RELASE_TAG: v1

jobs:
  push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Install jq
        run: sudo apt-get install jq

      - name: Find Release ID by release tag
        run: |
          export RELEASE_ID=$( \
            curl -H 'Authorization: token ${{ secrets.GITHUB_TOKEN }}' \
            -X GET \
            https://api.github.com/repos/$GITHUB_REPOSITORY/releases/tags/$RELASE_TAG \
            | jq .id
          )
          [[ -z $RELEASE_ID ]] && echo "Couldn't find a release under the tag $RELASE_TAG" || \
          curl -H 'Authorization: token ${{ secrets.GITHUB_TOKEN }}' \
          -X DELETE \
          https://api.github.com/repos/$GITHUB_REPOSITORY/releases/$RELEASE_ID
          echo Deleting Tag: $RELEASE_TAG
          curl -H 'Authorization: token ${{ secrets.GITHUB_TOKEN }}' \
          -X DELETE \
          https://api.github.com/repos/$GITHUB_REPOSITORY/git/refs/tags/$RELEASE_ID
          

      - name: Delete existing release
        run: |
          echo Deleting Release: $RELEASE_ID

